/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

/* Färger och typsnitt */
body {
    font-family: 'Arial', sans-serif;
    background-image: url(./bilder/image-134.png);
    background-size: cover;
    color: #333;
}

/* Kontainer */
.kontainer {
    background-color: #F3F0DD;
    min-height: 10vh;
    padding: 20px;
}

/* Meny */
.meny {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F0DD;
    padding: 15px 30px;
}

.meny a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.meny img {
    height: 40px;
}

/* Sida */
.sida {
    text-align: center;
    padding: 20px;
    background-color: white
}

/* Rutnät för produkter */
.rutor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

/* Individuell produkt */
.produkt {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.produkt img {
    width: 230px;
    height: auto;
}

.produkt p {
    font-weight: bold;
    margin-top: 10px;
}

