@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

body {
    background-image: url("./bilder/andrew-coelho-m6tAqZvy4RM-unsplash.jpg");
    /*background-position: 0 -440px;*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Handjet", sans-serif;
    font-size: 100px;
    color: rgb(132, 7, 249);
    text-transform: uppercase;
    text-shadow: 3px 3px 0 pink;
    margin-top: 100px;
    margin-left: 100px;

}

h2 {
    font-family: "Handjet", sans-serif;
    font-size: 50px;
    color: rgb(170, 0, 255);
    text-transform: uppercase;
    text-shadow: 3px 3px 0 pink;
    margin-top: 75px;
    margin-left: 100px;
}

p {
    font-family: "Handjet", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 150px;
    margin-left: 950px;
}

a {
    color: rgb(255, 0, 230);
    text-decoration: none;
    background-color: #0ff0e5;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 200);
}